*{
    font-family: 'Roboto',sans-serif;
    
}
.header-container{
    background-color: #1F2937;
    width:100%;
    /* padding: 60px 0; */
    /* margin-bottom: 40px; */
    padding-top: 10px;
    padding-bottom: 60px;
}
.header-top{
    display: flex;
    justify-content: space-around;
    color: #E5E7EB;
    margin-bottom: 50px;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.header-links{
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid red; */
}
.link1, .link2, .link3 {
    margin-left: 20px;
  }
  
.text-bold{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.header-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.text{
    font-size: 18px;
    color: #F9FAF8;
    margin-bottom: 20px;
}
body {
    margin: 0;
    padding: 0;
  }
.header-button{
    background-color: blue;
    color: #E5E7EB;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
}
.header-button:hover {
    background-color: #2563EB; /* A nice blue shade */
  }


  /*MIDDLE LAYER */
.random-text-top{
    text-align: center;
    font-weight: 800;
    font-family: 'Roboto',sans-serif;
    padding: 30px;
    font-size: 35px;
}
.random-info-container{
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
    flex-wrap: wrap;
    border:2px solid red;
    margin-bottom: 200px;
}
.block1,.block2,.block3,.block4{
    width:100%;
    min-width: 150px;
    flex: 0 0 200px;
}
.block1,.block2,.block3,.block4 img{
    width:100%;
    height: auto;
}



/*Quote */
.Testimony{
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto',sans-serif;
    font-style: italic;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 140px 200px;
}
.name{
    text-align: right;
    font-size: 28px;
    font-weight: 900;
}